$breakpoints: (
  'mobile': 360px,
  'mobile-m': 375px,
  'mobile-l': 425px,
  'tablet': 768px,
  'tablet-m': 1024px,
  'tablet-l': 1280px,
  'desktop': 1440px,
  'desktop-m': 1960px,
  'desktop-l': 2560px,
);

/////////////////////////////////////////
/// Colors
///////////////////////////////////////// 


$color-blue-42: #4281A4;
$color-light-blue-48: #48A9A6;
$color-gray-e4: #E4DFDA;
$color-brown-d4: #D4B483;
$color-red-c1: #C1666B;