@import '../../global.scss';

.wrapper {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
}

.menu,
.userMenu {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    
}

.userMenu {
    border-radius: 50%;
    background-color: $color-blue-42;
}

.burgerIcon {
    width: 30px;
    height: 30px;
}

.userIcon {
    width: 25px;
    height: 25px;
}